/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
  color:var(--button-text,#000000);
  background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter:var(--icon-filter,none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* ailinks-card */
.button-ailinks-card {
    --button-text: #ffffff;
    --button-background: #f5c724;
}
/* firebase */
.button-firebase {
    --button-text: #ffffff;
    --button-background: #e27822;
}
/* github */
.button-github {
    --button-text: #ffffff;
    --button-background: #616161;
}
/* Mail */
.button-mail {
    --button-text: #ffffff;
    --button-background: #474eff;
}
/* Google Analytics */
.button-google-analytics {
    --button-text: #ffffff;
    --button-background: #ffd500;
}
/* Google Search Consle */
.button-google-search-consle {
    --button-text: #ffffff;
    --button-background: #192867;
}
/* Google Search Consle */
.button-google-search-consle {
    --button-text: #ffffff;
    --button-background: #9900ff;
}
